html {
    font-size: 20px;
}
.unbehaved-element {
    font-size: 2em;
}

input[type="range"]{
    -webkit-appearance: none;
    -moz-apperance: none;
    border-radius: 2px;
	border-color: #FFFFFF;
    height: 66px;
	width: 480px;
    background-image: -webkit-gradient(
        linear,
        left top,
        right top,
        color-stop(0.05, #66FF66),
		color-stop(0.50, #FF9933),
        color-stop(0.85, #FF0000)
    );
}

h1 {
	font-size: 32px;
}

h2 {
	font-size: 28px;
}

h3 {
	font-size: 24px;
}

input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    background-color: #EEEEEE;
    border: 2px solid #222222;
    height: 64px;
    width: 18px;
}

button {
  -webkit-appearance: none; 
  background-color: #6C70eF;
  border: 2px solid #4C50CF; 
  border-radius: 4px;
  color: white;
  padding: 12px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 32px;
}

button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  background-color: #4C50CF; 
  color: white;
}

div.instructions {
  text-align: center;
  text-decoration: none;
  color: grey;
  font-size: 22px; 
}

div.instructions2 {
  text-align: center;
  text-decoration: none;
  color: #444444;
  font-size: 22px;
}

div.source {
  color: grey;
  padding: 6px 6px;
  text-align: center;
  text-decoration: none;
  font-size: 22px;
  min-width: 480px;
  max-width: 720px;
}

div.docu {
  background-color: #ffffb3;
  border: 2px solid #000000; 
  border-radius: 8px;
  color: black;
  padding: 6px 6px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.8em; /* font-size: 32px; */
  min-width: 480px;
  max-width: 720px;
}